{% from 'macros.html' import render_navigation %}

<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}Flask Chart Examples{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="container-fluid">
        {% block navigation %}
        {{ render_navigation('home') }}
        {% endblock %}
        {% block content %}
        {% endblock %}
        </div>
        {% block scripts %}
        {% endblock %}
        <script src="/static/js/bootstrap.min.js"></script>        
    </body>
</html>