{% macro render_navigation(active_page) %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link{% if active_page == 'home' %} active{% endif %}" href="{{ url_for('index') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if active_page == 'd3js' %} active{% endif %}" href="{{ url_for('d3js') }}">d3js</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Bokeh</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Matplotlib</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Flot</a>
    </li>
</ul>
{% endmacro %}