{% macro render_navigation(active_page) %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link{% if active_page == 'home' %} active{% endif %}" href="{{ url_for('index') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if active_page == 'd3js' %} active{% endif %}" href="{{ url_for('d3js') }}">d3js</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if active_page == 'bokeh' %} active{% endif %}" href="{{ url_for('bokeh') }}">Bokeh</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if active_page == 'matplotlib' %} active{% endif %}" href="{{ url_for('matplotlib') }}">Matplotlib</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if active_page == 'flot' %} active{% endif %}" href="{{ url_for('flot') }}">Flot</a>
    </li>
</ul>
{% endmacro %}